#include <os2.h>
#include "rc.h"

BITMAP BMP_ROAD ROAD.BMP
BITMAP BMP_RCL RCL.BMP
BITMAP BMP_BCL BCL.BMP
BITMAP BMP_GCL GCL.BMP
BITMAP BMP_RTL RTL.BMP
BITMAP BMP_BTL BTL.BMP
BITMAP BMP_RCR RCR.BMP
BITMAP BMP_BCR BCR.BMP
BITMAP BMP_GCR GCR.BMP
BITMAP BMP_RTR RTR.BMP
BITMAP BMP_BTR BTR.BMP

ICON RES_CLIENT I495.ICO

ACCELTABLE RES_CLIENT
{
   "+", MI_MORECARS, VIRTUALKEY
   "-", MI_LESSCARS, VIRTUALKEY
}
